<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <span id="footer-icon">
                <i class="fa-solid fa-font-awesome fa-fw"></i>
            </span>
            &commat;<%= config.author %>
        </div>
        <div>
            Based on the <a href="https://hexo.io">Hexo Engine</a> &amp;
            <a href="https://github.com/WavesMan/hexo-theme-particlex">ParticleX Theme Waves_Man定制版</a>
        </div>
        
        <div>
        <% if (theme.footer.ICP.enable) { %>
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        <% } %>
        &nbsp;
        <% if (theme.footer.PSR.enable) { %>
            <% if (theme.footer.PSR.link) { %>
            <a href="<%- url_for(theme.footer.PSR.link) %>"><%= theme.footer.PSR.code %></a>
            <% } else { %>
            <%= theme.footer.PSR.code %>
            <% } %>
        <% } %>
        </div>
        
    </div>
</footer>

<% if (page.type === 'links') { %>
<script src="<%- url_for('/static/js/iframeResizer.min.js') %>"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    iframeResize({
      log: false,
      checkOrigin: false,
      heightCalculationMethod: 'bodyScroll'
    }, '.link-preview');
  });
</script>
<% } %>
